@namespace s "library://ns.adobe.com/flex/spark";
@namespace containers "com.al.containers.*";
@namespace components "com.al.components.*";
@namespace tabBar "com.al.tabBar.*";
@namespace timeline "ardisia.components.timeline.*";
@namespace calendar "ardisia.scheduling.calendar.*";
@namespace toolbar "ardisia.components.toolbar.*";
@namespace calendarList "com.al.components.calendarList.*";
@namespace views "com.al.views.*";
@namespace affect "themes.finsbury.*";
@namespace impl "com.flexspy.impl.*";
@namespace panel "com.al.panel.*";
@namespace controls "com.al.application.controls.*";

/**************************************************
*
*     Fonts
*
**************************************************/

/* Fira Sans */

@font-face {src:url("/themes/fonts/FiraSans-Regular.ttf"); font-family: FiraSans; font-weight: normal; font-style: normal; embedAsCFF:true;}
@font-face {src:url("/themes/fonts/FiraSans-Italic.ttf"); font-family: FiraSans; font-weight: normal; font-style: italic; embedAsCFF:true;}
@font-face {src:url("/themes/fonts/FiraSans-Bold.ttf"); font-family: FiraSans; font-weight: bold; font-style: normal; embedAsCFF:true;}
@font-face {src:url("/themes/fonts/FiraSans-BoldItalic.ttf"); font-family: FiraSans; font-weight: bold; font-style: italic; embedAsCFF:true;}

/* Marselis */

@font-face {src:url("/themes/fonts/MarselisOT-Light.otf"); font-family: Marselis; font-weight: normal; font-style: normal; embedAsCFF:true;}
@font-face {src:url("/themes/fonts/MarselisOT.otf"); font-family: Marselis; font-weight: bold; font-style: normal; embedAsCFF:true;}

/* Icons */

@font-face {src:url("/themes/fonts/FontAwesome.otf"); font-family: FontAwesome; font-style: normal; embedAsCFF:true;}


s|Application { font-family: FiraSans; font-size: 14; line-height: 18; }

/* --- ONLY for the Flex Tree App --- */
impl|ComponentTreeWnd { font-family: Arial; }
/* --- */


/* Generic Padding */

.smallPadding
{
	paddingBottom: 4;
	padding-left: 4;
	padding-top: 4;
	paddingRight: 4;
}

.padding
{
	paddingBottom: 8;
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
}

.largePadding
{
	paddingBottom: 12;
	paddingLeft: 12;
	paddingTop: 12;
	paddingRight: 12;
}

/**************************************************
*
*     Views
*
**************************************************/
calendar|Calendar
{
	skinClass: ClassReference("com.al.skins.CalendarWidgetSkin");
}

calendarList|CalendarList
{
	skinClass: ClassReference("com.al.components.calendarList.skins.CalendarListSkin");
}

timeline|Timeline
{
	skinClass: ClassReference("com.al.skins.ProjectTimeLineSkin");
}


views|TabBarView
{
	skinClass: ClassReference("themes.finsbury.HeaderContainerSkin");
}



/**************************************************
*
*     Containers
*
**************************************************/
containers|TileContainer
{
	skinClass: ClassReference("themes.finsbury.TileContainerSkin");
}

containers|TitledContainer
{
	skinClass: ClassReference("com.al.skins.TitledContainerSkin");
	
}

containers|CombineContainer
{
	skinClass: ClassReference("themes.finsbury.CombineContainerSkin");	
}

.dashboardTile
{
	skinClass: ClassReference("com.al.skins.DashboardTileContainerSkin");
}

/**************************************************
*
*     Controls
*
**************************************************/
components|AssetPreview
{
	skinClass: ClassReference("com.al.skins.PreviewSkin");
}

toolbar|ToolbarTabBar
{
	skinClass: ClassReference("ardisia.components.toolbar.themes.stockholm.skins.ToolbarTabBarSkin");
}

tabBar|TabBar
{
	skinClass: ClassReference("themes.finsbury.TabBarSkin");
}

tabBar|TabBarButton
{
	skinClass: ClassReference("themes.finsbury.TabBarButtonSkin");
}

/**************************************************
*
*     class selectors
*
**************************************************/
.tabBarButtonDragProxy
{
	skinClass: ClassReference("com.al.skins.ProxyImageSkin");
	backgroundColor: Ox343434;
}

.assetPreviewNext
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.assetPreviewPrev
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.calendarNext
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.calendarPrev
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.utilityRightArrow
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.utilityLeftArrow
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.jobDetailsMaximize
{
	skinClass: ClassReference("com.al.skins.MaximizeButtonSkin");
}

.jobDetailsMinimize
{
	skinClass: ClassReference("com.al.skins.MinimizeButtonSkin");
}

.jobDetailsButton
{
	skinClass: ClassReference("flatspark.skins.ButtonSkin");
}

.utilityButtonBar
{
	skinClass: ClassReference("themes.finsbury.UtilityButtonBarSkin");
}
/**************************************************
*
*     Spark controls
*
**************************************************/
s|CheckBox
{
	skinClass: ClassReference("ardisia.themes.london.skins.CheckBoxSkin");
}

s|HScrollBar
{
	/*skinClass: ClassReference("flatspark.skins.HScrollBarSkin");*/
	skinClass: ClassReference("ardisia.themes.london.skins.HScrollBarSkin");
}

s|VScrollBar
{
	/*skinClass: ClassReference("flatspark.skins.VScrollBarSkin");*/
	skinClass: ClassReference("ardisia.themes.london.skins.VScrollBarSkin");
}

/* Utility */

panel|UtilityPanel
{
	skin-class: ClassReference("themes.finsbury.UtilityPanelSkin");
}

/**************************************************
*
*     Affect controls
*
**************************************************/
controls|GutterLane
{
	skin-class: ClassReference("themes.finsbury.GutterLaneSkin");
}

controls|TileResizeHandle
{
	skin-class: ClassReference("themes.finsbury.TileResizeHandleSkin");
}

components|CombineDropPlaceHolder
{
	skin-class: ClassReference("themes.finsbury.CombineDropPlaceHolderSkin");
}