@namespace s "library://ns.adobe.com/flex/spark";
@namespace containers "com.al.containers.*";
@namespace components "com.al.components.*";
@namespace tabBar "com.al.tabBar.*";
@namespace timeline "ardisia.components.timeline.*";
@namespace calendar "ardisia.scheduling.calendar.*";
@namespace toolbar "ardisia.components.toolbar.*";
@namespace calendarList "com.al.components.calendarList.*";
@namespace views "com.al.views.*";
@namespace affect "themes.affect.*";
@namespace impl "com.flexspy.impl.*";
@namespace panel "com.al.panel.*";
@namespace controls "com.al.application.controls.*";
@namespace components1 "com.al.collaboration.components.*";
@namespace renderers "com.al.renderers.*";
@namespace rendererComponents "com.al.renderers.components.*";

/**************************************************
*
*     Fonts
*
**************************************************/


/**************************************************
*
*     Views
*
**************************************************/

/**************************************************
*
*     Containers
*
**************************************************/

containers|TileContainer
{
	skinClass: ClassReference("themes.greenwich.TileContainerSkin");
}



/**************************************************
*
*     Controls
*
**************************************************/
controls|TileResizeHandle
{
	overCursorClass: Embed(source="/images/cursors/move.png");
	overCursorOffset: -9, -10;

	grabCursorClass: Embed(source="/images/cursors/move.png");
	grabCursorOffset: -9, -10;

	overRCursorClass: Embed(source="/images/cursors/ne-sw-resize.png");
	overRCursorOffset: -9, -10;

	grabRCursorClass: Embed(source="/images/cursors/ne-sw-resize.png");
	grabRCursorOffset: -9, -10;

	overLCursorClass: Embed(source="/images/cursors/nw-se-resize.png");
	overLCursorOffset: -9, -10;

	grabLCursorClass: Embed(source="/images/cursors/nw-se-resize.png");
	grabLCursorOffset: -9, -10;

	overBCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overBCursorOffset: -9, -10;

	grabBCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabBCursorOffset: -9, -10;

	overTCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overTCursorOffset: -9, -10;

	grabTCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabTCursorOffset: -9, -10;

	overVCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overVCursorOffset: -6, -14;

	grabVCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabVCursorOffset: -6, -14;

	overHCursorClass: Embed(source="/images/cursors/e-w-resize.png");
	overHCursorOffset: -9, -10;

	grabHCursorClass: Embed(source="/images/cursors/e-w-resize.png");
	grabHCursorOffset: -9, -10;

	skin-class: ClassReference("themes.greenwich.TileResizeHandleSkin");
}

/**************************************************
*
*     Item Renderers Components
*
**************************************************/
