@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "com.al.containers.*";
@namespace components "com.al.components.*";
@namespace tabBar "com.al.tabBar.*";
@namespace timeline "ardisia.components.timeline.*";
@namespace calendar "ardisia.scheduling.calendar.*";
@namespace toolbar "ardisia.components.toolbar.*";
@namespace calendarList "com.al.components.calendarList.*";
@namespace views "com.al.views.*";
@namespace affect "themes.affect.*";
@namespace impl "com.flexspy.impl.*";
@namespace controls "com.al.application.controls.*";
@namespace panel "com.al.panel.*";
@namespace components1 "com.al.collaboration.components.*";
@namespace renderers "com.al.renderers.*";
@namespace timebar "ardisia.components.timebarContainer.*";
@namespace rendererComponents "com.al.renderers.components.*";
@namespace collaborations "com.al.utility.panels.collaboration.*";
@namespace clipboard "com.al.utility.panels.clipboard.*";
@namespace common "com.al.utility.panels.common.*";
@namespace people "com.al.utility.panels.people.*";
@namespace ardisia "ardisia.components.popUpButton.*";

@namespace icon "themes.affect.utils.IconUtils.*";
@namespace color "themes.affect.utils.ColorUtils.*";
@namespace skins "themes.affect.*";

/**************************************************
*
*     Fonts
*
**************************************************/

/* Fira Sans */

@font-face {
    src:url("/themes/fonts/FiraSans-Regular.ttf");
    font-family: FiraSans;
    font-weight: normal;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/FiraSans-Italic.ttf");
    font-family: FiraSans;
    font-weight: normal;
    font-style: italic;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {src:url("/themes/fonts/FiraSans-Bold.ttf");
    font-family: FiraSans;
    font-weight: bold;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {src:url("/themes/fonts/FiraSans-BoldItalic.ttf");
    font-family: FiraSans;
    font-weight: bold;
    font-style: italic;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

/* Roboto */

@font-face {
    src:url("/themes/fonts/Roboto-Light.ttf");
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/Roboto-LightItalic.ttf");
    font-family: Roboto;
    font-weight: normal;
    font-style: italic;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {src:url("/themes/fonts/Roboto-Bold.ttf");
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/Roboto-BoldItalic.ttf");
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

@font-face {
    src:url("/themes/fonts/Roboto-Black.ttf");
    font-family: RobotoBlack;
    font-weight: normal;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/Roboto-BlackItalic.ttf");
    font-family: RobotoBlack;
    font-weight: normal;
    font-style: italic;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

/* Montserrat */

@font-face {
    src:url("/themes/fonts/Montserrat-Regular.ttf");
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/Montserrat-Bold.ttf");
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

/* Marselis */

@font-face {
    src:url("/themes/fonts/MarselisOT-Light.otf");
    font-family: Marselis;
    font-weight: normal;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/MarselisOT.otf");
    font-family: Marselis;
    font-weight: bold;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

/* Icons */

@font-face {
    src:url("/themes/fonts/fontello.ttf");
    font-family: Fontello;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}
@font-face {
    src:url("/themes/fonts/fontello.ttf");
    font-family: FontAwesome;
    font-style: normal;
    embedAsCFF: true;
    advancedAntiAliasing: true;
}

s|Application {
    font-family: Roboto;
    font-size: 14;
    line-height: 18;
}

/* --- ONLY for the Flex Tree App --- */
impl|ComponentTreeWnd { font-family: Arial; }
/* --- */


/* Generic Padding */

.smallPadding
{
	paddingBottom: 4;
	padding-left: 4;
	padding-top: 4;
	paddingRight: 4;
}

.padding
{
	paddingBottom: 8;
	paddingLeft: 8;
	paddingTop: 8;
	paddingRight: 8;
}

.largePadding
{
	paddingBottom: 12;
	paddingLeft: 12;
	paddingTop: 12;
	paddingRight: 12;
}

/**************************************************
*
*     Global(Application wide)
*
**************************************************/

/*s|TextInput*/
/*{*/
    /*focusSkin: ClassReference("themes.affect.FocusSkin");*/
/*}*/

/*s|TextArea*/
/*{*/
    /*focusSkin: ClassReference("themes.affect.FocusSkin");*/
/*}*/

s|UIComponent  {

    focusSkin: ClassReference("themes.affect.FocusSkin");
}

mx|ToolTip  {

    backgroundColor: #FFFFFF;
    backgroundAlpha: 0.75;
    borderColor: #4791CE;
    fontWeight: bold;
    fontSize: 12;
    color: #4791CE;
    cornerRadius: 0;
    padding: 16;
    dropShadowVisible: false;
    dropShadowEnabled: false;
}

s|Image {

    skinClass: ClassReference("themes.affect.ImageSkin");
}

components|SmoothImage{

    skinClass: ClassReference("themes.affect.ImageSkin");
}

s|DataGrid {

    skinClass: ClassReference("themes.affect.DataGridSkin");
}

mx|DateField {
    borderColor: #4791CE;
    borderThickness: 1;
    color: #000000;
    disabledColor: #4791CE;
    disabledIconColor: #4791CE;
    iconColor: #4791CE;
    paddingLeft: 8;
    paddingRight: 8;
    rollOverColor: #D1E4F3;
    selectionColor: #A3C8E6;
    todayColor: #FDBB45;
}

/**************************************************
*
*     Views
*
**************************************************/

calendar|Calendar
{
	skinClass: ClassReference("themes.affect.CalendarWidgetSkin");
}

calendarList|CalendarList
{
	skinClass: ClassReference("themes.affect.CalendarListSkin");
}

timeline|Timeline
{
	skinClass: ClassReference("themes.affect.ProjectTimeLineSkin");
}

views|TabBarView
{
	skinClass: ClassReference("themes.affect.HeaderContainerSkin");
}

/**************************************************
*
*     Containers
*
**************************************************/

containers|TileContainer
{
	skinClass: ClassReference("themes.affect.TileContainerSkin");
}

containers|TitledContainer
{
	skinClass: ClassReference("themes.affect.TitledContainerSkin");
}

containers|CombineContainer
{
	skinClass: ClassReference("themes.affect.CombineContainerSkin");	
}

.dashboardTile
{
	skinClass: ClassReference("themes.affect.DashboardTileContainerSkin");
}

containers|ContentContainer
{
	skinClass: ClassReference("themes.affect.ContentContainerSkin");
}

panel|ConversationPanel
{
	skinClass: ClassReference("themes.affect.ConversationPanelSkin");
}

/*containers|FieldSetContainer
{
	skinClass: ClassReference("com.al.skins.FieldSetSkin");
}*/

containers|FormSectionContainer
{
	skinClass: ClassReference("themes.affect.BriefSectionContainerSkin");
}

/**************************************************
*
*     Controls
*
**************************************************/

mx|DateField
{
	fontFamily: "Roboto";
	fontSize: "12";
    color: #4791CE;
}

components|AssetPreview
{
	skinClass: ClassReference("themes.affect.PreviewSkin");
}

toolbar|ToolbarTabBar
{
	skinClass: ClassReference("ardisia.components.toolbar.themes.stockholm.skins.ToolbarTabBarSkin");
}

tabBar|TabBar
{
	skinClass: ClassReference("themes.affect.TabBarSkin");
}

tabBar|TabBarButton
{
	skinClass: ClassReference("themes.affect.TabBarButtonSkin");
}

components1|AnnotationMarker
{
	skinClass: ClassReference("themes.affect.AnnotationMarkerSkin");
}

components|ContentPreview
{
	skinClass: ClassReference("com.al.skins.ContentPreviewSkin");
}

components|ZoomVScrollBar
{
	skinClass: ClassReference("themes.affect.scroller.ZoomVScrollBarSkin");
}

components|ZoomableContainer
{
	skinClass: ClassReference("themes.affect.ZoomableContainerSkin");
}

panel|ShapePropertiesChooser
{
	skinClass: ClassReference("com.al.skins.ShapePropertiesChooserSkin");
}

components|ResizableList
{
    downColor: #454545;
    rollOverColor: #676767;
    selectionColor: #343434;
}

components1|LiveTextEditor
{
	skinClass: ClassReference("com.al.skins.LiveTextEditorSkin");
}

components|CollapsiblePanel
{
    skinClass: ClassReference("themes.affect.CollapsiblePanelSkin");
}

components|CollapsiblePanel.message
{
    skinClass: ClassReference("themes.affect.CollapsiblePanelSkin2");
}

clipboard|CollapsiblePanelWithNote,clipboard|CollapsiblePanelWithNote.default
{
    skinClass: ClassReference("themes.affect.CollapsiblePanelWithNoteSkin");
}

clipboard|CollapsiblePanelWithNote.headless
{
    skinClass: ClassReference("themes.affect.HeadlessCollapsiblePanelWithNoteSkin");
}

/**************************************************
*
*     Renderers
*
**************************************************/

renderers|TileMenuItemRenderer s|Button
{
    skinClass: ClassReference("themes.affect.IconButtonSkin");
}

/**************************************************
*
*     class selectors : Buttons
*
**************************************************/

/* Button with Text */

.textButton
{
	skinClass: ClassReference("themes.affect.TextButtonSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
}

.textButton24
{
	skinClass: ClassReference("themes.affect.TextButtonSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
	buttonHeight: 24;
}

.textButton28
{
	skinClass: ClassReference("themes.affect.TextButtonSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
	buttonHeight: 28;
}

.textButton32
{
	skinClass: ClassReference("themes.affect.TextButtonSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
	buttonHeight: 32;
}

/* Button with Icon */

.iconButton
{
    skinClass: ClassReference("themes.affect.IconButtonSkin");
    fontFamily: Fontello;
}

.iconButtonBlue
{
    backgroundColor: #ffffff;
    color: #4791CE;
}
.iconButtonBlue:over
{
    backgroundColor: #4791CE;
    color: #ffffff;
}
.iconButtonBlue:down
{
    backgroundColor: #4791CE;
    color: #ffffff;
}

/* Button with Icon (no Background) */

.iconOnlyButton
{
	skinClass: ClassReference("themes.affect.IconOnlyButtonSkin");
	fontFamily: Fontello;
    iconAlpha: 0.5;
}

.iconOnlyButtonCenter
{
    rightPadding: NaN;
    leftPadding: NaN;
    textAlign: center;
}

.iconOnlyButtonLeft
{
	rightPadding: NaN;
	leftPadding: 8;
    textAlign: left;
}

.iconOnlyButtonRight
{
	rightPadding: 8;
	leftPadding: NaN;
    textAlign: right;
}

.iconOnlyButtonWhite
{
	color: #ffffff;
}

.iconOnlyButtonBlue
{
	color: #4791CE;
}

.iconOnlyButtonOrange
{
	color: #FD7C45;
}

/* Button Bar Buttons with Icon / Sizes */

.iconButton32
{
    buttonWidth: 32;
    buttonHeight: 32;
}

.iconButton28
{
    buttonWidth: 28;
    buttonHeight: 28;
}

.iconButton24
{
    buttonWidth: 24;
    buttonHeight: 24;
}

/* Toggle Button with Icon (no Background) */

.iconToggleButton
{
	skinClass: ClassReference("themes.affect.IconToggleButtonSkin");
	fontFamily: Fontello;
}

.iconToggleButtonBlue
{
    backgroundColor: #ffffff;
    color: #4791CE;
}
.iconToggleButtonBlue:over
{
    backgroundColor: #4791CE;
    color: #ffffff;
}
.iconToggleButtonBlue:down
{
    backgroundColor: #4791CE;
    color: #ffffff;
}
.iconToggleButtonBlue:upAndSelected
{
    backgroundColor: #4791CE;
    color: #ffffff;
}
.iconToggleButtonBlue:overAndSelected
{
    backgroundColor: #4791CE;
    color: #ffffff;
}
.iconToggleButtonBlue:downAndSelected
{
    backgroundColor: #4791CE;
    color: #ffffff;
}



s|TabBar.iconButtonBar
{
	skinClass: ClassReference("themes.affect.IconButtonBarSkin");
}

s|ButtonBarButton.iconButtonBarButton
{
	skinClass: ClassReference("themes.affect.IconButtonBarButtonSkin");
	fontFamily: Fontello;
}

/*s|Button.drawingToolButton*/
/*{*/
	/*skinClass: ClassReference("themes.affect.IconButtonSkin");*/
/*}*/

/*s|ToggleButton.drawingToolToggleButton*/
/*{*/
	/*skinClass: ClassReference("themes.affect.IconToggleButtonSkin");*/
/*}*/

ardisia|PopUpButton.optionsButton
{
    skinClass: ClassReference("themes.affect.OptionPopupUpButtonSkin");
}

/**************************************************
*
*     class selectors : Forms & Lists
*
**************************************************/

s|CheckBox
{
    skinClass: ClassReference("themes.affect.CheckBoxSkin");
    backgroundStroke: #4791CE;
    backgroundFill: #FFFFFF;
}

s|CheckBox:over
{
    backgroundFill: #4791CE;
}

s|CheckBox:down
{
    backgroundFill: #4791CE;
}

s|CheckBox:upAndSelected
{
    backgroundFill: #4791CE;
}

s|CheckBox:overAndSelected
{
    backgroundStroke: #A3C8E6;
    backgroundFill: #A3C8E6;
}

s|CheckBox:downAndSelected
{
    backgroundStroke: #A3C8E6;
    backgroundFill: #A3C8E6;
}

/* CheckBox for Approved Status */

s|CheckBox.statusApproved
{
    skinClass: ClassReference("themes.affect.CheckBoxSkin");
    backgroundStroke: #46D693;
    backgroundFill: #FFFFFF;
}

s|CheckBox.statusApproved:over
{
    backgroundFill: #46D693;
}

s|CheckBox.statusApproved:down
{
    backgroundFill: #46D693;
}

s|CheckBox.statusApproved:upAndSelected
{
    backgroundFill: #46D693;
}

s|CheckBox.statusApproved:overAndSelected
{
    backgroundStroke: #A2EAC9;
    backgroundFill: #A2EAC9;
}

s|CheckBox.statusApproved:downAndSelected
{
    backgroundStroke: #A2EAC9;
    backgroundFill: #A2EAC9;
}

/* CheckBox for Pending Status */

s|CheckBox.statusPending
{
    skinClass: ClassReference("themes.affect.CheckBoxSkin");
    backgroundStroke: #FD7C45;
    backgroundFill: #FFFFFF;
}

s|CheckBox.statusPending:over
{
    backgroundFill: #FD7C45;
}

s|CheckBox.statusPending:down
{
    backgroundFill: #FD7C45;
}

s|CheckBox.statusPending:upAndSelected
{
    backgroundFill: #FD7C45;
}

s|CheckBox.statusPending:overAndSelected
{
    backgroundStroke: #FEBEA2;
    backgroundFill: #FEBEA2;
}

s|CheckBox.statusPending:downAndSelected
{
    backgroundStroke: #FEBEA2;
    backgroundFill: #FEBEA2;
}

/* CheckBox for Rejected Status */

s|CheckBox.statusRejected
{
    skinClass: ClassReference("themes.affect.CheckBoxSkin");
    backgroundStroke: #CE3945;
    backgroundFill: #FFFFFF;
}

s|CheckBox.statusRejected:over
{
    backgroundFill: #CE3945;
}

s|CheckBox.statusRejected:down
{
    backgroundFill: #CE3945;
}

s|CheckBox.statusRejected:upAndSelected
{
    backgroundFill: #CE3945;
}

s|CheckBox.statusRejected:overAndSelected
{
    backgroundStroke: #E69CA2;
    backgroundFill: #E69CA2;
}

s|CheckBox.statusRejected:downAndSelected
{
    backgroundStroke: #E69CA2;
    backgroundFill: #E69CA2;
}







s|Form
{
	skinClass: ClassReference("themes.affect.FormSkin");
}

s|FormItem
{
    skinClass: ClassReference("themes.affect.FormItemSkin");
}

s|DropDownList
{
    skinClass: ClassReference("themes.affect.DropDownListSkin");
}

.tabBarButtonDragProxy
{
	skinClass: ClassReference("com.al.skins.ProxyImageSkin");
	backgroundColor: #4791CE;
}

.assetPreviewNext
{
	skinClass: ClassReference("themes.affect.NextImageButtonSkin");
}

.assetPreviewPrev
{
	skinClass: ClassReference("themes.affect.PrevImageButtonSkin");
}

.calendarNext
{
	skinClass: ClassReference("themes.affect.NextImageButtonSkin");
}

.calendarPrev
{
	skinClass: ClassReference("themes.affect.PrevImageButtonSkin");
}

.utilityRightArrow
{
	skinClass: ClassReference("themes.affect.NextImageButtonSkin");
}

.utilityLeftArrow
{
	skinClass: ClassReference("themes.affect.PrevImageButtonSkin");
}

.jobDetailsMaximize
{
	skinClass: ClassReference("themes.affect.MaximizeButtonSkin");
}

.jobDetailsMinimize
{
	skinClass: ClassReference("themes.affect.MinimizeButtonSkin");
}

.jobDetailsButton
{
	skinClass: ClassReference("themes.affect.TextButtonSkin");
}

.utilityButtonBar
{
	skinClass: ClassReference("themes.affect.UtilityButtonBarSkin");
}

/**************************************************
*
*     Scroller
*
**************************************************/

s|Scroller
{
	skinClass: ClassReference("themes.affect.scroller.ScrollerSkin");
}

s|HScrollBar
{
	/*skinClass: ClassReference("flatspark.skins.HScrollBarSkin");*/
	skinClass: ClassReference("themes.affect.scroller.HScrollBarSkin");
}

s|VScrollBar {
	/*skinClass: ClassReference("flatspark.skins.VScrollBarSkin");*/
	skinClass: ClassReference("themes.affect.scroller.VScrollBarSkin");
}

s|Button.track
{
	skinClass: ClassReference("themes.affect.scroller.TrackButtonSkin");
}

/*s|Button.htrack*/
/*{*/
    /*skinClass: ClassReference("themes.affect.scroller.HTrackBtnSkin");*/
/*}*/

s|Button.vthumb
{
    skinClass: ClassReference("themes.affect.scroller.VThumbButtonSkin");
}

s|Button.hthumb
{
    skinClass: ClassReference("themes.affect.scroller.HThumbButtonSkin");
}

/*s|Button.up*/
/*{*/
    /*skinClass: ClassReference("themes.affect.scroller.ScrollerButtonSkin");*/
/*}*/

/*s|Button.down*/
/*{*/
    /*skinClass: ClassReference("themes.affect.scroller.ScrollerButtonSkin");*/
/*}*/

/*s|Button.right*/
/*{*/
    /*skinClass: ClassReference("themes.affect.scroller.ScrollerButtonSkin");*/
/*}*/

/*s|Button.left*/
/*{*/
    /*skinClass: ClassReference("themes.affect.scroller.ScrollerButtonSkin");*/
/*}*/

/*s|Button.icon*/
/*{*/
    /*skinClass: ClassReference("themes.affect.IconOnlyButtonSkin");*/
/*}*/

/**************************************************
*
*     Spark controls
*
**************************************************/

s|List
{
    skinClass: ClassReference("themes.affect.ListSkin");
}

s|TextArea
{
	skinClass: ClassReference("themes.affect.TextAreaSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
}

s|TextInput
{
	skinClass: ClassReference("themes.affect.TextInputSkin");
    focusSkin: ClassReference("themes.affect.FocusSkin");
	bgColorFill: #FFFFFF;
	bgColorStroke: #A3C8E6;
}

s|TextInput.textInputWhite
{
	skinClass: ClassReference("themes.affect.TextInputSkin");
	bgColorFill: #A3C8E6;
	bgColorStroke: #FFFFFF;
}

s|TextInput.textInputLogin
{
    skinClass: ClassReference("themes.affect.TextInputLoginSkin");
    focusSkin: ClassReference("themes.affect.FocusLoginSkin");
}

/*s|Image.avatar*/
/*{*/
    /*skinClass: ClassReference("themes.affect.AvatarImageSkin");*/
/*}*/

/**************************************************
*
*     Utility
*
**************************************************/

panel|UtilityPanel
{
	skin-class: ClassReference("themes.affect.UtilityPanelSkin");
}

s|SkinnableDataContainer.utilityGroup
{
    skin-class: ClassReference("themes.affect.UtilityGroupSkin");
}

s|SkinnableDataContainer.defaultUtilityGroup
{
    skin-class: ClassReference("themes.affect.DefaultUtilityGroupSkin");
}

/**************************************************
*
*     Affect controls
*
**************************************************/



components|CombineDropPlaceHolder
{
	skin-class: ClassReference("themes.affect.CombineDropPlaceHolderSkin");
}

/**************************************************
*
*     Item Renderers Components
*
**************************************************/

rendererComponents|AnnouncementItem
{
	skinClass: ClassReference("themes.affect.AnnouncementItemSkin");
}

rendererComponents|ApprovalItem
{
	skinClass: ClassReference("themes.affect.cells.ApprovalThumbCellItemSkin");
}

rendererComponents|ApprovalItem.list
{
	skinClass: ClassReference("themes.affect.cells.ApprovalListCellItemSkin");
}

rendererComponents|CommentItem
{
	skinClass: ClassReference("themes.affect.CommentItemSkin");
}

rendererComponents|FormSectionItem
{
	skinClass: ClassReference("themes.affect.BriefSectionItemSkin");
}

rendererComponents|FormFieldItem
{
    skinClass: ClassReference("themes.affect.BriefFieldItemSkin");
}

clipboard|ClipboardCellItem
{
    skinClass: ClassReference("themes.affect.cells.LightboxThumbCellItemSkin");
}

clipboard|ClipboardCellItem.note
{
    skinClass: ClassReference("themes.affect.cells.NoteCellItemSkin");
}

clipboard|ClipboardCellItem.image
{
    skinClass: ClassReference("themes.affect.cells.LightboxThumbCellItemSkin");
}

clipboard|ClipboardCellItem.list
{
    skinClass: ClassReference("themes.affect.cells.LightboxListCellItemSkin");
}

rendererComponents|TaskCellItem
{
    skinClass: ClassReference("themes.affect.TaskDetailsItemSkin");
}

rendererComponents|TaskCellItem.taskCell
{
	skinClass: ClassReference("themes.affect.cells.TaskCellItemSkin");
}

collaborations|CollaborationCellItem
{
    skinClass: ClassReference("themes.affect.cells.CollaborationCellItemSkin");
}

common|CellItem,common|CellItem.list
{
    skinClass: ClassReference("themes.affect.cells.ImageListCellItemSkin");
}

common|CellItem.thumb
{
    skinClass: ClassReference("themes.affect.cells.ImageThumbCellItemSkin");
}

people|PeopleCellItem,people|PeopleCellItem.list
{
    skinClass: ClassReference("themes.affect.cells.UserListCellItemSkin");
}

people|PeopleCellItem.thumb
{
    skinClass: ClassReference("themes.affect.cells.UserThumbCellItemSkin");
}

people|PeopleCellItem.userList
{
	skinClass: ClassReference("themes.affect.cells.UserListCellItemSkin");
}

/**************************************************
*
*     Cursors
*
**************************************************/

mx|DragManager
{
	copyCursor: Embed(source="Assets.swf",symbol="mx.skins.cursor.DragCopy");
	defaultDragImageSkin: ClassReference("mx.skins.halo.DefaultDragImage");
	linkCursor: Embed(source="Assets.swf",symbol="mx.skins.cursor.DragLink");
	moveCursor: Embed(source="Assets.swf",symbol="mx.skins.cursor.DragMove");
	rejectCursor: Embed(source="Assets.swf",symbol="mx.skins.cursor.DragReject");
}

containers|HDividedBox
{
    horizontalDividerCursor: Embed(source="/images/cursors2/resize-Row.svg");
    cursorOffsets: -24, -24;
}

timebar|TimebarContainerHScrollBar
{
    skinClass: ClassReference("themes.affect.scroller.ZoomHScrollBarSkin");
}

controls|GutterLane
{
    overVCursorClass: Embed(source="/images/cursors2/resize-Row.svg");
    overVCursorOffset: -24, -24;

    overHCursorClass: Embed(source="/images/cursors2/resize-Col.svg");
    overHCursorOffset: -24, -24;

    grabVCursorClass: Embed(source="/images/cursors2/resize-Row.svg");
    grabVCursorOffset: -24, -24;

    grabHCursorClass: Embed(source="/images/cursors2/resize-Col.svg");
    grabHCursorOffset: -24, -24;

    skin-class: ClassReference("themes.affect.GutterLaneSkin");
}

controls|TileResizeHandle
{
    overCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    overCursorOffset: -24, -24;

    grabCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    grabCursorOffset: -24, -24;

    overRCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    overRCursorOffset: -24, -24;

    grabRCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    grabRCursorOffset: -24, -24;

    overLCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    overLCursorOffset: -24, -24;

    grabLCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    grabLCursorOffset: -24, -24;

    overBCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    overBCursorOffset: -24, -24;

    grabBCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    grabBCursorOffset: -24, -24;

    overTCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    overTCursorOffset: -24, -24;

    grabTCursorClass: Embed(source="/images/cursors2/resize-NSEW.svg");
    grabTCursorOffset: -24, -24;

    overVCursorClass: Embed(source="/images/cursors2/resize-NS.svg");
    overVCursorOffset: -24, -24;

    grabVCursorClass: Embed(source="/images/cursors2/resize-NS.svg");
    grabVCursorOffset: -24, -24;

    overHCursorClass: Embed(source="/images/cursors2/resize-EW.svg");
    overHCursorOffset: -24, -24;

    grabHCursorClass: Embed(source="/images/cursors2/resize-EW.svg");
    grabHCursorOffset: -24, -24;

    skin-class: ClassReference("themes.affect.TileResizeHandleSkin");
}