@font-face {
	font-family: 'test-tool-icons';
	src:url('fonts/test-tool-icons.eot?pspzwh');
	src:url('fonts/test-tool-icons.eot?#iefixpspzwh') format('embedded-opentype'),
		url('fonts/test-tool-icons.ttf?pspzwh') format('truetype'),
		url('fonts/test-tool-icons.woff?pspzwh') format('woff'),
		url('fonts/test-tool-icons.svg?pspzwh#test-tool-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'test-tool-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-select:before {
	content: "\e600";
}
.icon-fill:before {
	content: "\e601";
}
.icon-stroke:before {
	content: "\e602";
}
.icon-zoom-in:before {
	content: "\e603";
}
.icon-zoom-out:before {
	content: "\e604";
}
.icon-fit-screen:before {
	content: "\e605";
}
.icon-mask:before {
	content: "\e606";
}
.icon-mask-square:before {
	content: "\e607";
}
.icon-mask-circle:before {
	content: "\e608";
}
.icon-highlight:before {
	content: "\e609";
}
.icon-arrow:before {
	content: "\e60a";
}
.icon-line:before {
	content: "\e60b";
}
.icon-ellipse:before {
	content: "\e60c";
}
.icon-rectangle:before {
	content: "\e60d";
}
.icon-rounded-rectangle:before {
	content: "\e60e";
}
.icon-text:before {
	content: "\e60f";
}
