@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace containers "com.al.containers.*";
@namespace components "com.al.components.*";
@namespace tabBar "com.al.tabBar.*";
@namespace timeline "ardisia.components.timeline.*";
@namespace calendar "ardisia.scheduling.calendar.*";
@namespace toolbar "ardisia.components.toolbar.*";
@namespace calendarList "com.al.components.calendarList.*";
@namespace controls "com.al.application.controls.*";
@namespace panel "com.al.panel.*";
@namespace components1 "com.al.collaboration.components.*";
@namespace rendererComponents "com.al.renderers.components.*";
@namespace collaborations "com.al.utility.panels.collaboration.*";
@namespace clipboard "com.al.utility.panels.clipboard.*";
@namespace common "com.al.utility.panels.common.*";
@namespace people "com.al.utility.panels.people.*";
@namespace ardisia "ardisia.components.popUpButton.*";
@namespace rte "ardisia.components.richTextEditor.*";
@namespace timeline "ardisia.components.timeline.*";
@namespace timebar "ardisia.components.timebarContainer.*";
@namespace colorpicker "ardisia.components.colorPicker.*";
@namespace colorSpacePicker "ardisia.components.colorSpacePicker.*";



.smallPadding
{
    paddingBottom: 4;
    padding-left: 4;
    padding-top: 4;
    paddingRight: 4;
}

.padding
{
    paddingBottom: 8;
    paddingLeft: 8;
    paddingTop: 8;
    paddingRight: 8;
}

.largePadding
{
    paddingBottom: 12;
    paddingLeft: 12;
    paddingTop: 12;
    paddingRight: 12;
}

/**************************************************
 *
 *     Views
 *
 **************************************************/


calendar|Calendar
{
	skinClass: ClassReference("com.al.skins.CalendarWidgetSkin");
}

calendarList|CalendarList
{
	skinClass: ClassReference("com.al.components.calendarList.skins.CalendarListSkin");
}

timeline|Timeline
{
	skinClass: ClassReference("com.al.skins.ProjectTimeLineSkin");
}

/**************************************************
*
*     Containers
*
**************************************************/

containers|TileContainer
{
	skinClass: ClassReference("com.al.skins.TileContainerSkin");
}

containers|TitledContainer
{
	skinClass: ClassReference("com.al.skins.TitledContainerSkin");
}

containers|CombineContainer
{
	skinClass: ClassReference("com.al.skins.CombineContainerSkin");	
}

.dashboardTile
{
	skinClass: ClassReference("com.al.skins.DashboardTileContainerSkin");
}

containers|ContentContainer
{
	skinClass: ClassReference("com.al.skins.ContentContainerSkin");
}

panel|ConversationPanel
{
	skinClass: ClassReference("com.al.skins.ConversationPanelSkin");
}

/*containers|FieldSetContainer
{
	skinClass: ClassReference("com.al.skins.FieldSetSkin");
}*/

containers|FormSectionContainer
{
    backgroundColor: #ffffff;
    borderColor: #454545;
    borderAlpha: 1;
    cornerRadius: 4;
	skinClass: ClassReference("com.al.skins.FormSectionContainerSkin");
}

/**************************************************
*
*     Controls
*
**************************************************/

mx|DateField
{
	fontFamily: "FirSans";
	fontSize: "14";
}

components|AssetPreview
{
	skinClass: ClassReference("com.al.skins.PreviewSkin");
}

toolbar|ToolbarTabBar
{
	skinClass: ClassReference("ardisia.components.toolbar.themes.stockholm.skins.ToolbarTabBarSkin");
}

tabBar|TabBar
{
	skinClass: ClassReference("com.al.tabBar.skin.TabBarSkin");
}

tabBar|TabBarButton
{
	skinClass: ClassReference("spark.skins.spark.TabBarButtonSkin");
}

components1|AnnotationMarker
{
	skinClass: ClassReference("com.al.skins.AnnotationMarkerSkin")
}

components|ContentPreview
{
    skinClass: ClassReference("com.al.skins.ContentPreviewSkin");
}

components|ZoomVScrollBar
{
    skinClass: ClassReference("com.al.skins.ZoomVScrollBarSkin");
}

components|ZoomableContainer
{
    skinClass: ClassReference("com.al.skins.ZoomableContainerSkin");
}

components1|LiveTextEditor
{
	skinClass: ClassReference("com.al.skins.LiveTextEditorSkin");
}

components|CollapsiblePanel
{
    skinClass: ClassReference("com.al.skins.CollapsiblePanelSkin");
}

components|CollapsiblePanel.message
{
    skinClass: ClassReference("com.al.skins.CollapsiblePanelSkin2");
}

clipboard|CollapsiblePanelWithNote,clipboard|CollapsiblePanelWithNote.default
{
    skinClass: ClassReference("com.al.skins.CollapsiblePanelWithNoteSkin");
}

clipboard|CollapsiblePanelWithNote.headless
{
    skinClass: ClassReference("com.al.skins.HeadlessCollapsiblePanelWithNoteSkin");
}

colorpicker|ColorPicker
{
	skinClass: ClassReference("ardisia.components.colorPicker.themes.stockholm.skins.ColorPickerSkin");
}

/**************************************************
*
*     class selectors
*
**************************************************/
.tabBarButtonDragProxy
{
	skinClass: ClassReference("com.al.skins.ProxyImageSkin");
	backgroundColor: Ox343434;
}

.assetPreviewNext
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.assetPreviewPrev
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.calendarNext
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.calendarPrev
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.utilityRightArrow
{
	skinClass: ClassReference("com.al.skins.NextImageButtonSkin");
}

.utilityLeftArrow
{
	skinClass: ClassReference("com.al.skins.PrevImageButtonSkin");
}

.jobDetailsMaximize
{
	skinClass: ClassReference("com.al.skins.MaximizeButtonSkin");
}

.jobDetailsMinimize
{
	skinClass: ClassReference("com.al.skins.MinimizeButtonSkin");
}

.jobDetailsButton
{
	skinClass: ClassReference("flatspark.skins.ButtonSkin");
}

s|Button.textButton
{
    skinClass: ClassReference("themes.affect.TextButtonSkin");
}

/** Buttons *********/
s|Button.track
{
    skinClass: ClassReference("com.al.skins.TrackBtnSkin");

}

s|Button.htrack
{
    skinClass: ClassReference("com.al.skins.HTrackBtnSkin");

}

s|Button.thumb
{
    skinClass: ClassReference("com.al.skins.ThumbBtnSkin");
}

s|Button.hthumb
{
    skinClass: ClassReference("com.al.skins.HThumbBtnSkin");
}

s|Button.up
{
    skinClass: ClassReference("com.al.skins.UpBtnSkin");
}

s|Button.down
{
    skinClass: ClassReference("com.al.skins.DownBtnSkin");
}

s|Button.right
{
    skinClass: ClassReference("com.al.skins.RightBtnSkin");
}

s|Button.left
{
    skinClass: ClassReference("com.al.skins.LeftBtnSkin");
}

/*s|Button.icon*/
/*{*/
    /*skinClass: ClassReference("com.al.skins.IconButtonSkin");*/
/*}*/

/**************************************************
*
*     Spark controls
*
**************************************************/

s|List
{
    skinClass: ClassReference("com.al.skins.ListSkin");
}

s|CheckBox
{
	skinClass: ClassReference("ardisia.themes.london.skins.CheckBoxSkin");
}

s|CheckBox.inverse
{
    skinClass: ClassReference("com.al.skins.InverseCheckBoxSkin");
}

s|Scroller
{
    skinClass: ClassReference("com.al.skins.ScrollerSkin");
}

s|HScrollBar
{
    /*skinClass: ClassReference("flatspark.skins.HScrollBarSkin");*/
    skinClass: ClassReference("com.al.skins.HScrollBarSkin");
}

s|VScrollBar
{
    /*skinClass: ClassReference("flatspark.skins.VScrollBarSkin");*/
    skinClass: ClassReference("com.al.skins.VScrollBarSkin");
}

/* Utility */

panel|UtilityPanel
{
	skin-class: ClassReference("com.al.skins.UtilityPanelSkin");
}

s|SkinnableDataContainer.utilityGroup
{
    skin-class: ClassReference("com.al.skins.UtilityGroupSkin");
}

s|SkinnableDataContainer.defaultUtilityGroup
{
    skin-class: ClassReference("com.al.skins.DefaultUtilityGroupSkin");
}

s|Image.avatar
{
    skinClass: ClassReference("com.al.skins.AvatarImageSkin");
}
/**************************************************
*
*     Affect controls
*
**************************************************/

controls|GutterLane
{
	overVCursorClass: Embed(source="/images/cursors/col-resize.png");
	overVCursorOffset: -9, -10;
	
	overHCursorClass: Embed(source="/images/cursors/row-resize.png");
	overHCursorOffset: -10, -9;
	
	grabVCursorClass: Embed(source="/images/cursors/col-resize.png");
	grabVCursorOffset: -9, -10;
	
	grabHCursorClass: Embed(source="/images/cursors/row-resize.png");
	grabHCursorOffset: -10, -9;
	skin-class: ClassReference("themes.affect.GutterLaneSkin");
}

controls|TileResizeHandle
{
	overCursorClass: Embed(source="/images/cursors/move.png");
	overCursorOffset: -9, -10;

	grabCursorClass: Embed(source="/images/cursors/move.png");
	grabCursorOffset: -9, -10;

	overRCursorClass: Embed(source="/images/cursors/ne-sw-resize.png");
	overRCursorOffset: -9, -10;
	
	grabRCursorClass: Embed(source="/images/cursors/ne-sw-resize.png");
	grabRCursorOffset: -9, -10;
	
	overLCursorClass: Embed(source="/images/cursors/nw-se-resize.png");
	overLCursorOffset: -9, -10;
	
	grabLCursorClass: Embed(source="/images/cursors/nw-se-resize.png");
	grabLCursorOffset: -9, -10;
	
	overBCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overBCursorOffset: -9, -10;
	
	grabBCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabBCursorOffset: -9, -10;
	
	overTCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overTCursorOffset: -9, -10;
	
	grabTCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabTCursorOffset: -9, -10;
	
	overVCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	overVCursorOffset: -6, -14;

	grabVCursorClass: Embed(source="/images/cursors/n-s-resize.png");
	grabVCursorOffset: -6, -14;

	overHCursorClass: Embed(source="/images/cursors/e-w-resize.png");
	overHCursorOffset: -9, -10;

	grabHCursorClass: Embed(source="/images/cursors/e-w-resize.png");
	grabHCursorOffset: -9, -10;

	skin-class: ClassReference("themes.affect.TileResizeHandleSkin");
}

components|CombineDropPlaceHolder
{
	skin-class: ClassReference("themes.affect.CombineDropPlaceHolderSkin");
}

/**************************************************
*
*     Item Renderers Components
*
**************************************************/

rendererComponents|AnnouncementItem
{
    skinClass: ClassReference("com.al.skins.AnnouncementItemSkin");
}

rendererComponents|ApprovalItem
{
    skinClass: ClassReference("com.al.skins.ApprovalItemSkin");
}

rendererComponents|ApprovalItem.list
{
    skinClass: ClassReference("com.al.skins.ApprovalItemListSkin");
}

rendererComponents|CommentItem
{
    skinClass: ClassReference("com.al.skins.CommentItemSkin");
}

rendererComponents|FormSectionItem
{
    skinClass: ClassReference("com.al.skins.FormSectionItemSkin");
}

rendererComponents|FormFieldItem
{
    skinClass: ClassReference("com.al.skins.FormFieldItemSkin");
}

clipboard|ClipboardCellItem
{
    skinClass: ClassReference("com.al.skins.ImageCellItemSkin");
}

clipboard|ClipboardCellItem.note
{
    skinClass: ClassReference("com.al.skins.NoteCellItemSkin");
}

clipboard|ClipboardCellItem.image
{
    skinClass: ClassReference("com.al.skins.ImageCellItemSkin");
}

clipboard|ClipboardCellItem.list
{
    skinClass: ClassReference("com.al.skins.ListClipboardCellItemSkin");
}

rendererComponents|TaskCellItem
{
    skinClass: ClassReference("com.al.skins.TaskListItemSkin");
}

rendererComponents|TaskCellItem.taskCell
{
    skinClass: ClassReference("com.al.skins.TaskCellItemSkin");
}

collaborations|CollaborationCellItem
{
    skinClass: ClassReference("com.al.skins.CollaborationCellItemSkin");
}

common|CellItem,common|CellItem.list
{
    skinClass: ClassReference("com.al.skins.ListCellItemSkin");
}

common|CellItem.thumb
{
    skinClass: ClassReference("com.al.skins.ThumbCellItemSkin");
}

people|PeopleCellItem,people|PeopleCellItem.list
{
    skinClass: ClassReference("com.al.skins.ListPeopleCellItemSkin");
}

people|PeopleCellItem.thumb
{
    skinClass: ClassReference("com.al.skins.ThumbPeopleCellItemSkin");
}

people|PeopleCellItem.medList
{
    skinClass: ClassReference("com.al.skins.UserCellItemSkin");
}

ardisia|PopUpButton.options
{
    skinClass: ClassReference("com.al.skins.OptionPopupUpButtonSkin");

}

rte|RichTextEditor.note
{
    skinClass: ClassReference("com.al.skins.NoteCellRichTextEditorSkin");
}

timeline|Timeline
{
    skinClass: ClassReference("com.al.skins.TimelineSkin");
}

timebar|TimebarContainerHScrollBar
{
    skinClass: ClassReference("com.al.skins.TimebarContainerHScrollBarSkin");
}